# Todays Topics
    - String and its use cases and string built in functionalities
    - User input 
    - String Concatenation, String formation 
    - type casting
    - if else
    - multiple if else elif

# Python String 
     - A python string data can be a character , word, sentence, paragraph
     - Any thing that is placed inside quoatation marks will behave as string.
     - String a immutable. Unchangeable.

In [1]:
# defining a string variable 

course  = "data analytics using python"

In [2]:
print(type(course))

<class 'str'>

In [3]:
course  = "python programming fundamentals"

In [4]:
course

'python programming fundamentals'

In [5]:
course.upper()

'PYTHON PROGRAMMING FUNDAMENTALS'

In [6]:
course

'python programming fundamentals'

In [7]:
upperCourse = course.upper()
upperCourse

'PYTHON PROGRAMMING FUNDAMENTALS'

In [8]:
course.title()

'Python Programming Fundamentals'

In [9]:
course.count('a')

3

In [10]:
course.count('am')

2

In [11]:
course.count('p')

2

In [12]:
course.endswith("Z")

False

In [13]:
course.endswith("s")

True

In [14]:
course.startswith("P")

False

In [15]:
course.find("g")

10

In [16]:
# if any character (substring) is not in string it will say -1
course.find("hello")

-1

In [18]:
# students = ['nasir', 'ali', 'aftab', 'faisal', 'Kashif']
# for student in students:
#     if student.endswith("b"):
#         print( "email sent to ",student)
#     else:
#         print("email not sent to student",student)

### String Concatenation

In [19]:
fname = "Syed"
mname = "Asif"
lname = 'Raza'

In [20]:
fullname = fname + mname + lname 
print(fullname)
len(fullname)

SyedAsifRaza

12

In [21]:
fullname = fname +" "+ mname +" "+ lname 
print(fullname)
len(fullname)

Syed Asif Raza

14

### String formation

In [22]:
print("My friends full name is {} {} {}".format(fname,mname,lname))

My friends full name is Syed Asif Raza

In [23]:
print(f"My friends full name is {fname} {mname} {lname}")

My friends full name is Syed Asif Raza

### User input

In [31]:
value  = input()
# the value input via input function will 
#be stored in str type value

5

In [32]:
value

'5'

In [33]:
type(value)

str

In [34]:
newValue = value
type(newValue)

str

In [35]:
# Type casting > wrapping int on str
newValue = int(value)
type(newValue)

int

In [36]:
item1_cost = input("What is the price of item1?")
item2_cost = input("What is the price of item12?")
item3_cost = input("What is the price of item3?")
item4_cost = input("What is the price of item4?")
item5_cost = input("What is the price of item5?")

total  = item1_cost+item2_cost+item3_cost+item4_cost+item5_cost
print(total)

What is the price of item1?50
What is the price of item12?100
What is the price of item3?150
What is the price of item4?200
What is the price of item5?500
50100150200500

In [39]:
item1_cost = int(input("What is the price of item1?"))
item2_cost = int(input("What is the price of item12?"))
item3_cost = int(input("What is the price of item3?"))
item4_cost = int(input("What is the price of item4?"))
item5_cost = int(input("What is the price of item5?"))

total  = item1_cost+item2_cost+item3_cost+item4_cost+item5_cost
print(total)

What is the price of item1?100
What is the price of item12?50
What is the price of item3?150
What is the price of item4?250
What is the price of item5?22
572

In [40]:
name = 'Asad'
age  = 20

In [43]:
print("Your name is "+ name+ "and your age is "+ (age) )

TypeError: can only concatenate str (not "int") to str

In [44]:
print("Your name is "+ name+ "and your age is "+ str(age) )

Your name is Asadand your age is 20

# Conditions- Conditionals 
if statement

In [45]:
a  = 10 
b = 20 

if b > a:
    # indenting
    print('B is greater than A')
    print('B is greater than A')
    print('B is greater than A')
    print('B is greater than A')
    print('B is greater than A')
    print('B is greater than A')
    print('B is greater than A')
    print('B is greater than A')

B is greater than A
B is greater than A
B is greater than A
B is greater than A
B is greater than A
B is greater than A
B is greater than A
B is greater than A

In [47]:
user_age = int(input("Enter your age: "))
if user_age <=19:
    print("You are a teenager you are not allowed")

Enter your age: 29

### Else

In [48]:
user_age = int(input("Enter your age: "))
if user_age <=19:
    print("You are a teenager you are not allowed")
else:
    print("You are not a teenager you are allowed")

Enter your age: 29
You are not a teenager you are allowed

In [49]:
price = int(input("What is the price per kg of Meat"))
if price <=1000:
    print("Buy 5KG")
else:
    print("Buy 3 KG")

What is the price per kg of Meat500
Buy 5KG

In [50]:
color  = input("Do like black or white color")
if color == 'black':
    print("You may be accountant")
else:
    if color == "white":
        print("You may be a doctor ")
    else:
        print("idont know what you are!")

Do like black or white colorwhite
You may be a doctor

In [51]:
color  = input("Do like black or white color")
if color == 'black':
    print("You may be accountant")
elif color == "white":
        print("You may be a doctor ")
else:
        print("idont know what you are!")

Do like black or white colorwhite
You may be a doctor

In [52]:
color  = input("Do like black or white color")
if color == 'black':
    print("You may be accountant")
elif color == "white":
        print("You may be a doctor ")
else:
        print("idont know what you are!")

Do like black or white colorwhite
You may be a doctor

In [53]:
color  = input("Do like black or white color").lower()
if color == 'black':
    print("You may be accountant")
elif color == "white":
        print("You may be a doctor ")
else:
        print("idont know what you are!")

Do like black or white colorwhite
You may be a doctor

In [54]:
python = int(input("Enter your python marks"))
data = int(input("Enter your data analytics marks"))
bi =int(input("Enter your bi marks"))
excel =int(input("Enter your excel marks"))
ml =int(input("Enter your ml marks"))
total_obt = python+data+bi+excel+ml
total = int(input("Enter the total marks"))
percentage  = total_obt/total*100
if percentage >=90:
    print("Your grade is A*")
elif percentage >=80:
    print("Your grade is A")
elif percentage >=70:
    print("Your grade is B")
elif percentage >=60:
    print("Your grade is C")
elif percentage >=50:
    print("Your grade is D")
else:
    print("Fails")
print(f"Your percentage is {percentage}. ")

Enter your python marks50
Enter your data analytics marks50
Enter your bi marks60
Enter your excel marks70
Enter your ml marks80
Enter the total marks90
Your grade is A*
Your percentage is 344.44444444444446.

In [55]:
a = 10 
b= 20  # assignment

In [56]:
a = b 
a

20

In [57]:
a==b  # equalto

True

In [58]:
name  = input("Enter students name")
course  = input("Enter course")
institute = input("Enter institute name")

python = int(input("Enter your python marks"))
data = int(input("Enter your data analytics marks"))
bi =int(input("Enter your bi marks"))
excel =int(input("Enter your excel marks"))
ml =int(input("Enter your ml marks"))

total_obt = python+data+bi+excel+ml
total = int(input("Enter the total marks"))
percentage  = total_obt/total*100
grade  = ""
if percentage >=90:
    grade = "A*"
elif percentage >=80:
    grade = "A"
elif percentage >=70:
    grade = "B"
elif percentage >=60:
    grade = "C"
elif percentage >=50:
    grade = "D"
else:
    grade = "Fails"

print(f"""
                {institute}
                =================================
      Name of Student: {name}
      Course attended: {course}
      
      Percentage: {percentage}
      Grade Achieved: {grade}
      
      """)

Enter students nameShoaib
Enter courseData Analytics
Enter institute nameSBIL
Enter your python marks50
Enter your data analytics marks40
Enter your bi marks50
Enter your excel marks60
Enter your ml marks50
Enter the total marks50

                SBIL
                =================================
      Name of Student: Shoaib
      Course attended: Data Analytics

      Percentage: 500.0
      Grade Achieved: A*

In [59]:
age = (input("what is the age of your friend?"))
location = input("Where does your frined live?")
profession = input("What do he do?")


text  = f"My friends is {age} years old. He lives in {location}. He is a qulaified {profession}."
print(text)

what is the age of your friend?29
Where does your frined live?Mardan
What do he do?Cashier
My friends is 29 years old. He lives in Mardan. He is a qulaified Cashier.

In [60]:
age + 5

TypeError: can only concatenate str (not "int") to str

In [61]:
age = int(input("what is the age of your friend?"))
location = input("Where does your frined live?")
profession = input("What do he do?")


text  = f"My friends is {age} years old. He lives in {location}. He is a qulaified {profession}."
print(text)

what is the age of your friend?29
Where does your frined live?Mardan
What do he do?Cashier
My friends is 29 years old. He lives in Mardan. He is a qulaified Cashier.

In [62]:
age + 10

39

In [63]:
age = int(input("what is the age of your friend?"))
location = input("Where does your frined live?")
profession = input("What do he do?")


text  = f"""            My friends is {age} years old. 
        
        
He lives in {location}. 
        
        
        
                                        He is a qulaified {profession}"""
print(text)

what is the age of your friend?29
Where does your frined live?Mardan
What do he do?Cashier
            My friends is 29 years old.


He lives in Mardan.



                                        He is a qulaified Cashier