# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
# type your code here
print("ICAP",23,True,23.5,)

ICAP 23 True 23.5

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [2]:
# type your code here
print("ICAP",23,True,23.5,sep="-")

ICAP-23-True-23.5

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [3]:
# type your code here
print("String Value",end="")
print(True,end="")
print(23.5)

String ValueTrue23.5

4) Can a python print function take no value to print???

In [4]:
# type your answer here
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [5]:
#type your code here
name = "Ahmed"
age = 30
passoutYear = 2005
employer = "The Himalaya Associates"
joinedDate = 2015
heightInFeets = 5.10
weightInGrams = 70600
salary = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [6]:
#type your code here 
from datetime import date

In [7]:
currentYear = date.today().year
yearsPassed = currentYear - passoutYear
print("Ahmed did his bachleros", yearsPassed, "ago")

Ahmed did his bachleros 18 ago

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [8]:
#type your code here 
experience = currentYear - joinedDate
print("Ahmed has been working with The Himalya Associates for", experience, "years")

Ahmed has been working with The Himalya Associates for 8 years

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [9]:
#type your code here 
salaryInDollars = salary / 286
print("Ahmed's salary in Dollars is:",salaryInDollars)

Ahmed's salary in Dollars is: 699.3006993006993

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [10]:
#type your code here 
print("Ahmed's salary in Dollars is :", salary // 286)

Ahmed's salary in Dollars is : 699

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [11]:
#type your code here 
weightInKg = weightInGrams // 1000
print("Ahmed's weight in KG is", weightInKg)

Ahmed's weight in KG is 70

11) print the year of birth of Mr. Ahmed.

In [12]:
#type your code here
birthYear = currentYear - age
print("Ahmed's birth year is", birthYear)

Ahmed's birth year is 1993

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator (modulo)

In [13]:
#type your code here 
100%6

4

In [14]:
10%2
# 10 is completely divisible by2 
# 10 is multiple of 2
# 2 is a factor of 10 
# 10 comes in table of 2

0

In [15]:
print("We are learning git")

We are learning git